<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.system.mapper.SysPermissionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, value, type, icon, url, status, sort, create_at, update_at
    </sql>

    <select id="listByUserId" parameterType="long" resultType="com.linck.management.system.model.entity.SysPermission">
        select c.id   as id,
               c.pid  as pid,
               c.name as name,
               c.value as value,
            c.type as type,
            c.icon as icon,
            c.url as url,
            c.status as status,
            c.sort as sort,
            c.create_at as create_at,
            c.update_at as update_at
        from
            sys_user as a
            LEFT JOIN sys_user_role as ab
        ON a.id = ab.u_id
            LEFT JOIN sys_role as b ON ab.r_id = b.id
            LEFT JOIN sys_role_permission as bc ON b.id = bc.r_id
            LEFT JOIN sys_permission as c ON bc.p_id = c.id
        WHERE
            a.status = 1
          AND b.status = 1
          AND c.status = 1
          AND a.id = #{id}
        ORDER BY
            c.type, c.sort
    </select>
</mapper>
