<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.system.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.system.entity.SysPermission">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="state" property="state"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, value, type, icon, url, state, sort, create_time, update_time
    </sql>

    <select id="listByUserId" parameterType="long" resultMap="BaseResultMap">
        select
            c.id as id,
            c.pid as pid,
            c.name as name,
            c.value as value,
            c.type as type,
            c.icon as icon,
            c.url as url,
            c.state as state,
            c.sort as sort,
            c.create_time as create_time,
            c.update_time as update_time
        from
            sys_user as a
            LEFT JOIN sys_user_role as ab ON a.id = ab.u_id
            LEFT JOIN sys_role as b ON ab.r_id = b.id
            LEFT JOIN sys_role_permission as bc ON b.id = bc.r_id
            LEFT JOIN sys_permission as c ON bc.p_id = c.id
        WHERE
            a.state = 1
            AND b.state = 1
            AND c.state = 1
            AND a.id = #{id}
        ORDER BY
            c.type,c.sort
    </select>
</mapper>
