<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.system.mapper.SysRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, value, name, description, status, create_at, update_at, create_by, update_by, del_flag, version
    </sql>

    <insert id="batchInsert">
        insert into sys_role
        (<include refid="Base_Column_List"/>)
        values
            <foreach collection="list" item="t" index="index" separator=",">
                (
                 #{t.id}, #{t.value}, #{t.name}, #{t.description}, #{t.status}, #{t.createAt}, #{t.updateAt}, #{t.createBy}, #{t.updateBy}, #{t.delFlag}, #{t.version}
                )
            </foreach>

    </insert>
</mapper>
