<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzJobDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzJobDetails">
        <id column="SCHED_NAME" property="schedName" />
        <result column="JOB_NAME" property="jobName" />
        <result column="JOB_GROUP" property="jobGroup" />
        <result column="DESCRIPTION" property="description" />
        <result column="JOB_CLASS_NAME" property="jobClassName" />
        <result column="IS_DURABLE" property="isDurable" />
        <result column="IS_NONCONCURRENT" property="isNonconcurrent" />
        <result column="IS_UPDATE_DATA" property="isUpdateData" />
        <result column="REQUESTS_RECOVERY" property="requestsRecovery" />
        <result column="JOB_DATA" property="jobData" />
    </resultMap>

</mapper>
