<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzSimpropTriggersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzSimpropTriggers">
        <id column="SCHED_NAME" property="schedName" />
        <result column="TRIGGER_NAME" property="triggerName" />
        <result column="TRIGGER_GROUP" property="triggerGroup" />
        <result column="STR_PROP_1" property="strProp1" />
        <result column="STR_PROP_2" property="strProp2" />
        <result column="STR_PROP_3" property="strProp3" />
        <result column="INT_PROP_1" property="intProp1" />
        <result column="INT_PROP_2" property="intProp2" />
        <result column="LONG_PROP_1" property="longProp1" />
        <result column="LONG_PROP_2" property="longProp2" />
        <result column="DEC_PROP_1" property="decProp1" />
        <result column="DEC_PROP_2" property="decProp2" />
        <result column="BOOL_PROP_1" property="boolProp1" />
        <result column="BOOL_PROP_2" property="boolProp2" />
    </resultMap>

</mapper>
