<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzLocksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzLocks">
        <id column="SCHED_NAME" property="schedName" />
        <result column="LOCK_NAME" property="lockName" />
    </resultMap>

</mapper>
