<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzSimpleTriggersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzSimpleTriggers">
        <id column="SCHED_NAME" property="schedName" />
        <result column="TRIGGER_NAME" property="triggerName" />
        <result column="TRIGGER_GROUP" property="triggerGroup" />
        <result column="REPEAT_COUNT" property="repeatCount" />
        <result column="REPEAT_INTERVAL" property="repeatInterval" />
        <result column="TIMES_TRIGGERED" property="timesTriggered" />
    </resultMap>

</mapper>
