<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzFiredTriggersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzFiredTriggers">
        <id column="SCHED_NAME" property="schedName" />
        <result column="ENTRY_ID" property="entryId" />
        <result column="TRIGGER_NAME" property="triggerName" />
        <result column="TRIGGER_GROUP" property="triggerGroup" />
        <result column="INSTANCE_NAME" property="instanceName" />
        <result column="FIRED_TIME" property="firedTime" />
        <result column="SCHED_TIME" property="schedTime" />
        <result column="PRIORITY" property="priority" />
        <result column="STATE" property="state" />
        <result column="JOB_NAME" property="jobName" />
        <result column="JOB_GROUP" property="jobGroup" />
        <result column="IS_NONCONCURRENT" property="isNonconcurrent" />
        <result column="REQUESTS_RECOVERY" property="requestsRecovery" />
    </resultMap>

</mapper>
