<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linck.management.quartz.mapper.QrtzBlobTriggersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linck.management.quartz.entity.QrtzBlobTriggers">
        <id column="SCHED_NAME" property="schedName" />
        <result column="TRIGGER_NAME" property="triggerName" />
        <result column="TRIGGER_GROUP" property="triggerGroup" />
        <result column="BLOB_DATA" property="blobData" />
    </resultMap>

</mapper>
